mat-toolbar {
  display: flex;
  flex-direction: row;
}

.app-title {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.search-field {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 100%;
}

.repo-link {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.search-button {
  margin-left: 10px;
  height: 100%;
}
